@namespace BlazorApp 
@page "/annotatedimage"
@inject IJSRuntime JSRuntime 

<h3>AnnotatedImagePage</h3>

<Div Flex="Flex.Column">
    <Div Flex="Flex.Row">
        @* Available Items *@
        <Div Flex="Flex.Column" style="max-width:6rem;">
            @foreach (var item in fruits)
            {
                <Button Clicked="@((args) => ItemSelected(args,@item))" draggable="false">
                    <Figure draggable="false">
                        <FigureImage Source="@item.Image" draggable="false" />
                        <FigureCaption>@item.Name</FigureCaption>
                    </Figure>
                </Button> 
            }
            <Button Border="Border.Is2" Color="Color.Primary" Clicked="Merge">Merge</Button>
            <Button Border="Border.Is2" Color="Color.Primary" Clicked="Clear">Clear</Button>
            <Button Border="Border.Is2" Color="Color.Primary" Clicked="ReadSample">Read</Button>
        </Div>

        @* Annotated Image *@
        <AnnotatedImage
            @ref="@annotatedImage"
            Annotations="@fruitItems"
            OnImageAnnotationSelected="ImageAnnotationSelected"
            OnImageAnnotationStartMove="ImageAnnotationStartMove"
            OnImageAnnotationMoved="ImageAnnotationMoved"
            OnImageAnnotationEndMove="ImageAnnotationEndMove"
            OnImageAnnotationUnselected="ImageAnnotationUnSelected"
            Source="_content/BlazorApp/img/EmptyWeddingHall.png" />
    </Div>
    @foreach(var item in fruitItems.Values)
    {
        <p>@item.Name @item.Y @item.Order</p>
    }
    <img src="@imgdata" width="@imgwidth" height="@imgheight" />
    <p> "Yada:" @yada</p>
</Div>

@code {

    private AnnotatedImage? annotatedImage;
    private string imgdata = string.Empty;
    private double imgwidth;
    private double imgheight;
    private Dictionary<string, IImageAnnotationData> fruitItems = new();
    private int order;
    private string yada = string.Empty;

    [Inject] IContentAccess? ContentAccess { get; set; }

    public record SceenItemStore(string Name, string Image);
    private List<SceenItemStore> fruits = new()
    {
        new("Apple", "_content/BlazorApp/img/apple.png"),
        new("Bananas", "_content/BlazorApp/img/bananas.png")
    };
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRenderAsync(firstRender);
        return Task.CompletedTask;
    }

    private async Task ReadSample()
    {
        yada = await ContentAccess!.ReadJson("_content/BlazorApp/data/SceneItems.json");
        var sceneItems = JsonConvert.DeserializeObject<List<SceneItem>>(yada);
    }
     
    private async Task ItemSelected(MouseEventArgs args, SceenItemStore item)
    {
        if (annotatedImage is null)
            return;
        var imageWidth = annotatedImage.ImgElementWidth;
        var imageHeight = annotatedImage.ImgElementHeight;
        var id = Guid.NewGuid().ToString();

        var fruitItem = new ImageAnnotationData()
            {
                Id = id,
                Name = item.Name,
                Source = item.Image,
                X = imageWidth / 2,
                Y = imageHeight / 2,
                Order = 0,
                Height = 48,
                Width = 48
            };
        fruitItem.Scale = CalculateScale(fruitItem);
        fruitItems.Add(id, fruitItem);

        SetOrder();
        await Task.CompletedTask;
    }

    private Task ImageAnnotationSelected(string id)
    {
        if (annotatedImage is null)
            return Task.CompletedTask;

        if (!fruitItems.TryGetValue(id, out IImageAnnotationData? fruitItem))
            return Task.CompletedTask;

        // Console.WriteLine($"Selected:{id}");
        return Task.CompletedTask;
    }

    private Task ImageAnnotationStartMove(string id)
    {
        if (annotatedImage is null)
            return Task.CompletedTask;

        if (!fruitItems.TryGetValue(id, out IImageAnnotationData? fruitItem))
            return Task.CompletedTask;
        //Console.WriteLine($"StartMove:{id}");
        return Task.CompletedTask;
    }

    private async Task ImageAnnotationMoved(string id)
    {
        if (annotatedImage is null)
            return;

        if (!fruitItems.TryGetValue(id, out IImageAnnotationData? fruitItem))
            return;
        //Console.WriteLine($"Moved:{id}");

        fruitItem.Scale = CalculateScale(fruitItem);
        if (SetOrder())
            await InvokeAsync(StateHasChanged);
        return;
    }

    private async Task ImageAnnotationEndMove(string id)
    {
        if (annotatedImage is null)
            return;

        if (!fruitItems.TryGetValue(id, out IImageAnnotationData? fruitItem))
            return;

        //Console.WriteLine($"EndMove:{id}");
        if (SetOrder())
            await InvokeAsync(StateHasChanged);
        return;
    }

    private async Task ImageAnnotationUnSelected(string id)
    {
        if (annotatedImage is null)
            return;

        if (!fruitItems.TryGetValue(id, out IImageAnnotationData? fruitItem))
            return;

        //Console.WriteLine($"Unselected:{id}");
        if (SetOrder())
            await InvokeAsync(StateHasChanged);
        return;
    }

    private double CalculateScale(IImageAnnotationData annotation)
    {
        if (annotatedImage is null)
            return 0.5;

        return 0.25 + (0.75 * annotation.Y / (annotatedImage.CanvasRect!.Bottom - annotatedImage.CanvasRect!.Top));
    }
    private bool SetOrder()
    {
        var items = fruitItems.Values.OrderBy(x => x.Y).ToList(); 
        int order = 0;
        var changed = false;
        foreach (var item in items)
        {
            if(item.Order != order)
            {
                Console.WriteLine($"order:{item.Order} {order}");
                item.Order = order;
                changed = true;
            }
            order++;
        }
        //if (changed)
        //    Console.WriteLine("OrderChanged");
        return changed;
    }

    private async Task Clear()
    {
        fruitItems.Clear();
        await Task.CompletedTask;
    }

    public async Task Merge()
    {
        if (annotatedImage is null)
            return;
        imgdata = await annotatedImage!.GetMergedEncodedImage();
        imgwidth = annotatedImage.ImgElementWidth;
        imgheight = annotatedImage.ImgElementHeight;
        await InvokeAsync(StateHasChanged);
    }

}
