@namespace Blazorise.AnnotatedImage
@inherits BaseComponent
@typeparam TItem
@using System.Text

<div class="@ClassNames"
     style="@StyleNames"
     id="@ElementId"
     @ref="@ElementRef"
     @attributes="@Attributes">
    <img 
        @ref="backgroundImageRef" 
        src="@Source">
    </img>

    @if (Annotations != null)
    {
        @foreach (var item in Annotations.Values)
        {
            <ImageAnnotation 
            ElementId="@item.Id"
            TItem="TItem"
            ImageAnnotationData="@item"
            OnImageAnnotationSelected="ImageAnnotationSelected"
            OnImageAnnotationStartMove="ImageAnnotationStartMove"
            OnImageAnnotationMoved="ImageAnnotationMoved"
            OnImageAnnotationEndMove="ImageAnnotationEndMove"
            OnImageAnnotationUnselected="ImageAnnotationUnselected"
            />
        }
    }
</div>

