@namespace Blazorise.AnnotatedImage
@inherits BaseComponent
@using System.Text
<div class="@ClassNames"
     style="@StyleNames"
     id="@ElementId"
     @ref="@ElementRef"
     @attributes="@Attributes">
    <img 
        @ref="backgroundImageRef" 
        src="@Source">
    </img>
    @foreach (var item in Annotations.Values)
    {
        <ImageAnnotation 
            ElementId="@item.Id"
            ImageAnnotationData="@item"
            OnImageAnnotationSelected="ImageAnnotationSelected"
            OnImageAnnotationStartMove="ImageAnnotationStartMove"
            OnImageAnnotationMoved="ImageAnnotationMoved"
            OnImageAnnotationEndMove="ImageAnnotationEndMove"
            OnImageAnnotationUnselected="ImageAnnotationUnselected"
            CanvasRect="@CanvasRect"/>
    }
</div>

