@namespace Blazorise.AnnotatedImage
@inherits BaseComponent
@using System.Text
<div class="@ClassNames"
     style="@StyleNames"
     id="@ElementId"
     @ref="@ElementRef"
     @attributes="@Attributes">
    <img 
        @ref="backgroundImageRef" 
        src="@Source">
    </img>
    @foreach(var item in annotations.Values.OrderBy(x => x.AnnotationData!.Order))
    {
        <ImageAnnotation 
            @ref="item.ImageAnnotation"
            ImageAnnotationData="@item.AnnotationData"
            CanvasRect="@CanvasRect"/>
    }
</div>


