@namespace Blazorise.AnnotatedImage
@inherits BaseComponent
@using System.Text
<div class="@ClassNames"
     style="@StyleNames"
     id="@ElementId"
     @ref="AnnotatedImageRef"
     @attributes="@Attributes">
    <img 
        @ref="imgRef" 
        src="@Source">
    </img>
    @foreach(var item in Annotations)
    {
        <ImageAnnotation 
            ImageAnnotationData="@item"
            CanvasRect="@CanvasRect"/>
    }
</div>


