@namespace Blazorise.AnnotatedImage
@inherits BaseComponent
@using System.Text
@inject HttpClient httpClient
<div class="@ClassNames"
     style="@StyleNames"
     id="@ElementId"
     @attributes="@Attributes">
    <img 
        @ref="imgRef" 
        src="@Source">
    </img>
    @foreach(var item in SelectedItems)
    {
        <ImageAnnotation 
            Name="@item.Name" 
            Source="@item.Source" 
            X="@item.X" 
            Y="@item.Y" 
            ImageHeight="@item.Height" 
            ImageWidth="@item.Width" />
    }
</div>


